// ==============MOTHER============= //

#container{
    display: grid;
    grid-template-columns: 1fr 10fr;
}
div {
  // border:0.5px solid black;
}
// ==============HEADER============= //

header{
    display: grid;
    .navbar{
      padding: 0;
      button{
        width: 100%;
      }
      ul{
        text-transform: uppercase;
      }
    }
    .brand{
      background-color: #efefef;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      span {
        text-align: center;
        p {
          margin-right: 1rem;
        }
      }
    }
    .header_aside{
        background-color: #333333;
        .btn{
          text-transform: uppercase;
          color: black;
          font-weight: bold;
        }
        i{
          margin-right: 1rem;
        }
    }
}

// ==============MAIN============= //

main{
    padding: 1rem;
  section {
    h2 {
      font-size: 2rem;
    padding: 0.5rem 1rem;
    color: red;
    font-weight: bold;
    }
    article {
      img {
        width: 100%;
      }
      h5 {
        font-size: 2rem;
        padding:1rem;
        font-weight: bold;
      }
      p {
        margin-right: 1rem;
        margin-left: 1rem;
      }
      span {
        display: flex;
        justify-content: space-between;
        margin-right: 1rem;
        margin-left: 1rem;
        p {
          font-weight: bold;
        }
      }
      .p1, .p4 {
        span {
          p {
          color:green;
          }
        }
      }
      .p2, .p5 {
        span {
          p {
          color: orange;
          }
        }
      }
      .p3, .p6 {
        span {
          p {
          color:blue;
          }
        }
      }
    }
    .article1{
      display: grid;
      grid-gap: 2rem;
      grid-auto-rows: minmax(100px, auto);
      div {
      border:solid rgb(170, 170, 170) 0.5px;
      }
    }
    .article2 {
      display: grid;
      grid-auto-rows: minmax(100px, auto);
    }
    .article3 {
      display: grid;
      grid-auto-rows: minmax(200px, auto);
    }
    .article4 {
      display: grid;
      grid-auto-rows: minmax(100%, auto);
    }
    .article5{
      display: grid;
        grid-auto-rows: minmax(100px, auto);
    }
  }
}



// ==============ASIDE============= //

.main_aside{
    background-color: #e1001a;
    grid-row: 1/4;
    i{
      display: block;
      width: 25%;
      margin: 2rem auto;
      color: white;
    }
}


// ==============FOOTER============= //

footer{
  display: grid;
  grid-auto-rows: minmax(100px, auto);
    background-color: purple;
    // height: 150px;
    section{
      background-color: grey;
    }
}


// ==============MEDIA============= //

@media screen and (min-width: 768px) {
  #container{
    grid-template-columns: 1fr 20fr;
  }
    header{
      grid-template-columns: 1fr 7fr;
      .navbar{
          padding: 0;
          ul{
            .nav1{
              background-color: #97c300;
            }
            .nav2{
              background-color: #00adc1;
            }
            .nav3{
              background-color: #ff7437;
            }
            .nav4{
              background-color: #994dd1;
            }
            .nav5{
              background-color: #f0f0f0;
              width: 10%;
            }
            text-align: center;
            justify-content: space-between;
            width: 100%;
            li{
              line-height: 4;
              font-size: 0.8rem;
              width: 25%;
              ::after{
                display: block;
                margin: auto;
              }
            }
          }
      }

        .brand{
            grid-column: 2/3;
            flex-direction: row;
            padding: 0.3rem;
            span {
              p {
                display: inline;
                margin-bottom: 0;
              }
            }
        }
        .header_aside{
            grid-row: 1/4;
            display: flex;
            align-items: flex-end;
        }
    }
    main {
        .wrapper-article2{
          .article2 {
            grid-template-columns: repeat(2 , 1fr);
            // text-align: center;
            :last-child {
              grid-column: 1/3;
            }
          }

        }
        .wrapper-article4{
          .article4 {
            grid-template-columns: repeat(2, 1fr);
          }
        }

        .wrapper-article5{
          .article5{
            grid-template-columns: repeat(2, 1fr);
          }
        }
    }
}

@media screen and (min-width: 1080px) {
  #container{
    // width: 80%;
    margin: auto;
  }
  main{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    .wrapper-article1 {
      grid-column: 1/3;
      .article1{
            display: grid;
            grid-gap: 0.5rem;
            grid-template-rows: repeat(4, 0.8fr);
            grid-template-areas:
            "p1 p1 p3 p4"
            "p1 p1 p3 p4"
            "p1 p1 p5 p5"
            "p2 p2 p6 p6";
            .p1{
                grid-area: p1;
                img {
                  height: 60%;
                }
            }
            .p2{
                grid-area: p2;
                img {
                  float: left;
                  width: 40%;
                  height: 100%;
                  margin-right: 1rem;
                }
            }
            .p3{
                grid-area: p3;
                img {
                  height: 40%;
                }
            }
            .p4{
                grid-area: p4;
                img {
                  height: 40%;
                }
            }
            .p5{
                grid-area: p5;
                img {
                  float: left;
                  width: 40%;
                  height: 100%;
                  margin-right: 1rem;
                }
            }
            .p6{
                grid-area: p6;
                img {
                  float: left;
                  width: 40%;
                  height: 100%;
                  margin-right: 1rem;
                }
            }
          }
      }
    .wrapper-article2 {
      grid-column: 1/3;
      .article2{
        grid-template-columns: repeat(5 , 1fr);
        :last-child {
          grid-column: 5/6;
        }
      }
    }
    .wrapper-article3 {
    }
    .wrapper-article4{
      .article4 {
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(4, 1fr);
      }
    }
    .wrapper-article5{
        grid-column: 1/3;
      .article5{
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
  footer{
    .footer_wrapper2{
      display: grid;
      grid-template-columns: repeat(7,1fr);
    }
  .footer_wrapper1{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    }
  }
}
