// ==============MOTHER============= //

#container{
    display: grid;
    grid-template-columns: 1fr 10fr;
}
div {
  border:0.5px solid black;
}
// ==============HEADER============= //

header{
    background-color: lightblue;
    display: grid;
    height: 150px;
    .brand{
        background-color: red;
    }
    .nav{
        background-color: blue;
    }
    .contenu{
        background-color: green;
    }
    .header_aside{
        background-color: grey;
    }
}

// ==============MAIN============= //

main{
    background-color: lightgreen;
    padding: 1rem;
  section {
    h2 {
      font-size: 2rem;
    padding: 0.5rem 1rem;
    }
    .article1{
      display: grid;
      grid-gap: 2rem;
      grid-auto-rows: minmax(100px, auto);
    }
    .article2 {
      display: grid;
      grid-auto-rows: minmax(100px, auto);
    }
    .article3 {
      display: grid;
      grid-auto-rows: minmax(200px, auto);
    }
    .article4 {
      display: grid;
      grid-auto-rows: minmax(100px, auto);
    }
  }
}



// ==============ASIDE============= //

.main_aside{
    background-color: lightgrey;
    grid-row: 1/4;
}


// ==============FOOTER============= //

footer{
    background-color: purple;
    height: 150px;
}


// ==============MEDIA============= //

@media screen and (min-width: 720px) {
    header{
        grid-template-columns: 1fr 6fr;
        .brand{
            grid-column: 1/3;
        }
        .header_aside{
            grid-row: 2/4;
        }
    }
    main {
        .wrapper-article2{
          .article2 {
            grid-template-columns: repeat(2 , 1fr);
            text-align: center;
            :last-child {
              grid-column: 1/3;
            }
          }
        }
        .wrapper-article4{
          .article4 {
            grid-template-columns: repeat(2, 1fr);
          }
        }
    }
}

@media screen and (min-width: 1080px) {
  main{
    background-color: lightgreen;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    .wrapper-article1 {
      grid-column: 1/3;
      .article1{
            display: grid;
            grid-gap: 0.5rem;
            grid-template-areas: "p1 p1 p3 p4"
            "p1 p1 p3 p4"
            "p1 p1 p5 p5"
            "p2 p2 p6 p6";
            .p1{
                grid-area: p1;
                background-color: grey;
            }
            .p2{
                grid-area: p2;
                background-color: grey;
            }
            .p3{
                grid-area: p3;
                background-color: grey;
            }
            .p4{
                grid-area: p4;
                background-color: grey;
            }
            .p5{
                grid-area: p5;
                background-color: grey;
            }
            .p6{
                grid-area: p6;
                background-color: grey;
            }
          }
      }
    .wrapper-article2 {
      grid-column: 1/3;
      .article2{
        grid-template-columns: repeat(5 , 1fr);
        :last-child {
          grid-column: 5/6;
        }
      }
    }
    .wrapper-article3 {
    }
    .wrapper-article4{
      .article4 {
        grid-template-columns: repeat(4, 1fr);
      }
    }


  }
}
